body{
    background-color:#496F9B;
}

.tudo{
    height: 490px;
    width: 300px;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    background-color: #111524;
    margin-left: 36%;
    margin-top: 4%;
    border-radius: 20px;
}

.quadro-show{
    position:relative;
    display: inline-block;
    background-color:#242C47;
    color:#ffffff;
    height: 30%;
    width: 93%;
    margin-top: 3%;
    margin-bottom: 2.5%;
    margin-left: 3.5%;
    border-radius: 20px;
}

.expressao{
    display: inline-block;
    margin-left: 210px;
    margin-top: 15px;
    font-size: 18px;
    color:#9F9F9F;
}

.resultado{
    font-size: 70px;
    text-align: right;
    margin-right: 5%;
    margin-top: 5%;
}

.botoes{
    display: inline-block;
    margin-left: 8%;
    border-radius: 20px;
}

.grupo-um{
    display: inline-block;
    margin-bottom: 0.8%;
}

#grupo1{
    width: 60%;
    height: 60%;
    border: none;
    border-radius: 20px;
    font-size: 25px;
    background-color:#242C47;
    color: white;
}

.grupo-dois{
    display: inline-block;
    margin-bottom: 0.8%;
    margin-left: 0.1%;
}

#grupo2{
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 20px;
    font-size: 25px;
    background-color:#242C47;
    color: white;
}

.grupo-tres{
    display: inline-block;
    margin-bottom: 0.8%;
}

#grupo3{
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 20px;
    font-size: 25px;
    background-color: #242C47;
    color: white;
}

.grupo-quatro{
    display: inline-block;
    margin-bottom: 0.8%;
}

#grupo4{
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 20px;
    font-size: 25px;
    background-color:#242C47;
    color: white;
}

.grupo-cinco{
    display: inline-block;
    margin-bottom:0.8%;
}

#grupo5{
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 20px;
    font-size: 25px;
    background-color:#242C47;
    color: white;
}

.grupo-igual{
    display: inline;
    height: 100%;
    width: 100%;
    margin-bottom: 0.8%;
    margin-left: 2%;
}

#grupoigual{
    margin-left: 0.1%;
    width: 60px;
    height: 121.4px;
    position: absolute;
    border: none;
    border-radius: 20px;
    font-size: 25px;
    background-color: #FF009D;
    color:#242C47;
    color: white;
}

#operador{
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 20px;
    font-size: 25px;
    background-color:#242C47;
    color:#FF009D;
}

#grupo1:hover, #grupo2:hover, #grupo3:hover, #grupo4:hover, #grupo5:hover, #operador:hover, #grupoigual:hover{
    cursor:pointer;
    background-color: #4D4D4D;
}